* {
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

/* Content */
div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    padding: 2em;
    max-width: 600px;
    text-align: center;
}

/* Cookie Prompt */
div.prompt {
    position: fixed;
    display: grid;
    grid-template-columns: auto auto;

    bottom: 2em;
    left: 50%; transform: translateX(-50%);
    padding: 1em;
    border: red solid 2px;
}

div.prompt div {
    padding: 1em;
}

div.prompt a {
    margin: auto 0 auto auto;
    text-decoration: none;
    background-color: #004BD6;
    color: white;
    padding: 1em;
    display: inline-block;
}

div.prompt a:hover {
    background-color: black;
}

/* Other */
.spaced { line-height: 1.5; }