* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: black;
  color: white !important; 

  margin: 0;
  font-family: Verdana;
}

/* Remove this soon */
body > * {
  padding: 1em;
  text-align: center;
}

/* Other */
.normal { font-weight: normal; }
.light { font-weight: light; }
.bold { font-weight: bold; }