* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0;
  font-family: 'Figtree', sans-serif;
}

/* Header */
header {
  padding: 1em;
}

header > div {
  display: grid;
  grid-template-columns: auto auto;
}

header > div > nav {
  margin: auto 0 auto auto;
}

header > div > nav a {
  padding: 0.5em;
  color: black;
  text-decoration: none;
  margin: 3px 0.5px;
}

/* Footer */
footer {
  padding: 1em;
  margin-top: auto;
}

footer > div.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5em;
}

footer > div.footer-content > div {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

footer > div.footer-content > div div.head {
  margin-bottom: 0.5em;
}

footer > div.footer-content > div a {
  font-size: smaller;
  color: black;
  text-decoration: none;
}

/* Content */
div.content {
  margin: auto;
  max-width: 1000px;
}

/* Other */
.normal { font-weight: normal; }
.light { font-weight: light; }
.spaced { line-height: 1.5; }