* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0;
  font-family: 'Figtree', sans-serif;
}

/* Remove this soon */
body > * {
  padding: 1em;
  text-align: center;
}

/* Other */
.normal { font-weight: normal; }
.light { font-weight: light; }